.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.advantages__title {
  @include font-size-title;
  margin: 0;
  font-family: $font-second;
}

.advantages__list {
  @include list-reset;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__item {
  min-height: 248px;
  margin: 0 5%;
  margin-bottom: 30px;
  padding: 25px;
  padding-top: 100px;
  padding-right: 10px;
  position: relative;
  background-color: $color-five;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;

  &--marker::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 25px;
    left: 25px;
    border-radius: 50%;
    background-color: $color-main;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.advantages__item--icon-temp::before {
  background-image: url("../../img/advantages-temp.svg");
}

.advantages__item--icon-cctv::before {
  background-image: url("../../img/advantages-cctv.svg");
}

.advantages__item--icon-taxi::before {
  background-image: url("../../img/advantages-taxi.svg");
}

.advantages__item--icon-food::before {
  background-image: url("../../img/advantages-food.svg");
}

.advantages__item--icon-walks::before {
  background-image: url("../../img/advantages-walks.svg");
}

.advantages__item--icon-vet::before {
  background-image: url("../../img/advantages-vet.svg");
}

.advantages__item-title {
  margin: 0;
  margin-bottom: 10px;
  font-family: $font-second;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.advantages__item-text {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}
