html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $font-main;
  font-size: 15px;
  line-height: 18px;
  color: $text-color-main;
  background-color: $color-third;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $text-color-main;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
