@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn-reset {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin font-size-mobile-menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

@mixin font-size-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}


@mixin font-size-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

