$font-main: "Lato", "Arial", sans-serif;
$font-title: "Rubik", "Arial", sans-serif;

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;

$mobile-padding: 0 20px;
$tablet-padding: 0 40px;
$desktop-padding: 0 15px;

$text-color-main: #1A212F;

$color-main: #FAC663;
$color-second: #FF7236;
$color-third: #FFFFFF;
